@import 'fl/imports'

.fl-app
	font-family sans-serif
	font-size 13px
	margin 10px auto
	width 1133px

.fl-unit
	background transparent none scroll 0 0 no-repeat
	size 16px 16px

	&[fl-type=militia]
		&[fl-player=n0]
			background-image url(../images/militia-0.png)
		&[fl-player=n1]
			background-image url(../images/militia-1.png)
		&.fl-moved
			background-image url(../images/militia.png)
	&[fl-type=mcv]
		&[fl-player=n0]
			background-image url(../images/mcv-0.png)
		&[fl-player=n1]
			background-image url(../images/mcv-1.png)
		&.fl-moved
			background-image url(../images/mcv.png)

.fl-unitinfo
	&-header
		margin-bottom 5px

	&-icon
		display inline-block

.fl-title
	font-weight bold
	margin 5px 0

button.fl-active
	animation-name fl-monitor-end-turn-anim
	-webkit-animation-name fl-monitor-end-turn-anim
	animation-duration .7s
	-webkit-animation-duration .7s
	animation-direction alternate
	-webkit-animation-direction alternate
	animation-iteration-count infinite
	-webkit-animation-iteration-count infinite
	color white
