@import 'fl/imports'

.fl-app
	cursor default
	font-family sans-serif
	font-size 13px
	margin 10px auto
	overflow hidden
	white-space nowrap
	width 1133px

	&-monitor
	&-screen-win
		display inline-block
		vertical-align top
		white-space normal

	&-screen-win
		width 610px

.fl-good
	color #00DD00

.fl-bad
	color #FF0000

.fl-id
	color #49F

.fl-base
	background transparent none scroll 0 0 no-repeat
	size 20px 20px

	&[fl-player="0"]
		background-image url(../images/base-0.png)
	&[fl-player="1"]
		background-image url(../images/base-1.png)

.fl-unit
	background transparent none scroll 0 0 no-repeat
	size 16px 16px

	&[fl-type=mcv]
		background-image url(../images/mcv.png)
		&[fl-player="0"]
			background-image url(../images/mcv-0.png)
		&[fl-player="1"]
			background-image url(../images/mcv-1.png)
		&.fl-moved
			background-image url(../images/mcv.png)
	&[fl-type=scout]
		background-image url(../images/scout.png)
		&[fl-player="0"]
			background-image url(../images/scout-0.png)
		&[fl-player="1"]
			background-image url(../images/scout-1.png)
		&.fl-moved
			background-image url(../images/scout.png)
	&[fl-type=militia]
		background-image url(../images/militia.png)
		&[fl-player="0"]
			background-image url(../images/militia-0.png)
		&[fl-player="1"]
			background-image url(../images/militia-1.png)
		&.fl-moved
			background-image url(../images/militia.png)
	&[fl-type=infantry]
		background-image url(../images/infantry.png)
		&[fl-player="0"]
			background-image url(../images/infantry-0.png)
		&[fl-player="1"]
			background-image url(../images/infantry-1.png)
		&.fl-moved
			background-image url(../images/infantry.png)
	&[fl-type=marine]
		background-image url(../images/marine.png)
		&[fl-player="0"]
			background-image url(../images/marine-0.png)
		&[fl-player="1"]
			background-image url(../images/marine-1.png)
		&.fl-moved
			background-image url(../images/marine.png)
	&[fl-type=paratrooper]
		background-image url(../images/paratrooper.png)
		&[fl-player="0"]
			background-image url(../images/paratrooper-0.png)
		&[fl-player="1"]
			background-image url(../images/paratrooper-1.png)
		&.fl-moved
			background-image url(../images/paratrooper.png)
	&[fl-type=humvee]
		background-image url(../images/humvee.png)
		&[fl-player="0"]
			background-image url(../images/humvee-0.png)
		&[fl-player="1"]
			background-image url(../images/humvee-1.png)
		&.fl-moved
			background-image url(../images/humvee.png)
	&[fl-type=radar]
		background-image url(../images/radar.png)
		&[fl-player="0"]
			background-image url(../images/radar-0.png)
		&[fl-player="1"]
			background-image url(../images/radar-1.png)
		&.fl-moved
			background-image url(../images/radar.png)
	&[fl-type=tank]
		background-image url(../images/tank.png)
		&[fl-player="0"]
			background-image url(../images/tank-0.png)
		&[fl-player="1"]
			background-image url(../images/tank-1.png)
		&.fl-moved
			background-image url(../images/tank.png)
	&[fl-type=mobile]
		background-image url(../images/mobile.png)
		&[fl-player="0"]
			background-image url(../images/mobile-0.png)
		&[fl-player="1"]
			background-image url(../images/mobile-1.png)
		&.fl-moved
			background-image url(../images/mobile.png)

.fl-resource
	background transparent none scroll 0 0 no-repeat
	size 16px 16px

	&[fl-type=copper]
		background-image url(../images/copper.png)
	&[fl-type=iron]
		background-image url(../images/iron.png)
	&[fl-type=oil]
		background-image url(../images/oil.png)
	&[fl-type=aluminum]
		background-image url(../images/aluminum.png)
	&[fl-type=yard]
		background-image url(../images/yard.png)
	&[fl-type=light]
		background-image url(../images/light.png)
	&[fl-type=heavy]
		background-image url(../images/heavy.png)
	&[fl-type=airport]
		background-image url(../images/airport.png)

.fl-title
	font-weight bold
	margin 5px 0

button
	background-color #303030
	border-color #303030
	color white
	cursor pointer

	&:hover
		background-color #606060
		border-color #606060

.fl-screen-win
	text-align center

	&-title
		font-size 100px
		margin 80px 0 30px

	&-statistics
		margin 10px auto
		width 400px

		> div
			margin 5px 0

		&-left
			float left
			text-align right
			width 195px

		&-right
			float right
			text-align left
			width 195px

	&-wisdom
		font-family serif
		font-style italic
		font-size 20px
		margin 30px 0

	&-refresh
		font-size 20px

.ui-tooltip
	font-size 13px
	opacity .8
	pointer-events none

.ui-widget-content
	background black
