@import 'fl/imports'

.fl-monitor
	overflow hidden
	position relative
	size 512px 512px

	&-cell
		background black none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&.fl-scouted
			background-color #22BB22

			&.fl-rock
				background-color #7F3300

		&.fl-visible
			&[fl-base=n0]
				background-color #00FF00

			&[fl-base=n1]
				background-color #FF0000

	&-cell.fl-visible > &-unit
		background transparent none scroll 0 0 no-repeat
		position absolute
		xy 0 0
		size 16px 16px

		&[fl-type=soldier]
			&[fl-player=n0]
				background-image url(../images/soldier-0.png)
			&[fl-player=n1]
				background-image url(../images/soldier-1.png)
