@import 'fl/imports'

.fl-monitor
	overflow hidden
	position relative
	size 512px 512px

	&-cell
		background #22BB22 none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&.fl-rock
			background-color #7F3300
