@import 'fl/imports'

.fl-monitor
	overflow hidden
	position relative

	&-left-panel
		float left
		size 300px 512px

	&-buttons
		height 30px
		text-align right

	&-log
		height 330px
		overflow-y auto

		& > .fl-good
			color #00DD00

		& > .fl-bad
			color #FF0000

	&-help
		color #999999
		font-style italic

	&-map
		float left
		margin-left 10px
		size 512px 512px

	&-panel
		float left
		margin-left 10px
		size 300px 512px

	&-cell
		background black none scroll 0 0 no-repeat
		border 1px solid black
		float left
		position relative
		size 16px 16px

		&.fl-scouted
			background-color #77BB44
			border-color #444444

			&[fl-player=n0]
				background-color #22DD22

			&[fl-player=n1]
				background-color #DD2222

			&.fl-rock
				background-color #7F3300

		& > .fl-unit, & > .fl-base, & > .fl-resource
			display none
			z-index 1

		&.fl-visible
			& > .fl-base
				display block
				position absolute
				xy -3px -3px

			& > .fl-unit
				display block
				position absolute
				xy -1px -1px

			& > .fl-resource
				display block
				position absolute
				xy -1px -1px

		&.fl-hold
			border 1px dotted white

		&.fl-selected
			border-color #FFFF00
			padding 0

		& > .fl-fog
			background black
			opacity .5
			position absolute
			size 16px 16px
			xy -1px -1px

@keyframes fl-monitor-end-turn-anim {
	from {
		background-color #00D000
		border-color #00D000
	}

	to {
		background-color #009000
		border-color #009000
	}
}