@import 'fl/imports'

.fl-panel
	&-block
		overflow-y auto

	&-terrain
		height 40px

	&-resource
		height 80px

	&-unit
		height 150px

	&-base
		height 200px

	&-unitbutton
		display inline-block

	&-production
		&-progress
			background black
			height 5px
			margin 5px 0

			&-fill
				background #00CC00
				height 5px
