@import 'fl/imports'

.fl-panel
	&-block
		overflow-y auto

	&-terrain
		height 40px

	&-resource
		height 80px

	&-unit
		&-buttons
			margin 5px 0
			text-align right

		&-leave
			border 1px solid white
			font-weight bold
			padding 5px
			text-align center

	&-base
		height 390px

		&-units-box
			border 1px solid white
			box-sizing content-box
			padding 5px

		&-select-production
			font-weight bold
			margin-bottom 5px
			text-align center

	&-unitbutton
		display inline-block

	&-production
		&-progress
			background black
			float left
			height 5px
			margin 5px 0

			&-fill
				float left
				height 5px

				&:nth-child(odd)
					background #666

				&:first-child
					background #00CC00

		&-turns
			float left
			margin-left 5px

	&-unitperson
		cursor pointer
		display inline-block
		margin-right 5px
		padding 2px

		&:hover
			background #F0FFFF
			border 1px solid #F0FFFF
			padding 1px

		&.fl-selected
			background #F0FFFF
			border 1px solid #0F0
			padding 1px

		&-health-value
			float left
			font-weight bold
			margin-right 5px
			text-align right
			width 20px

		&-right
			float left
			width 60px

		&-health
			background black
			height 5px
			margin-bottom 2px

			&-fill
				background #00CC00
				height 5px

		&-movement-point
			background scroll transparent none no-repeat 0 0
			float left
			margin-right 1px
			size 7px 7px

			&.fl-remaining
				background-image url(../../images/movement-green.png)

			&.fl-spent
				background-image url(../../images/movement-black.png)

		&-attack,
		&-defend,
		&-fortified
			background scroll transparent none no-repeat 0 0
			float right
			margin-left 3px
			size 7px 7px

		&-attack
			background-image url(../../images/status-attack.png)

		&-defend
			background-image url(../../images/status-defend.png)

		&-fortified
			background-image url(../../images/status-fortified.png)
