@import 'fl/imports'

.fl-monitor
	overflow hidden
	position relative

	&-left-panel
		float left
		margin-right 10px
		size 300px 512px

	&-turn-box
		float left
		font-weight bold
		padding-top 3px
		text-align left
		width 60px

	&-buttons
		height 30px
		text-align right

	&-surrender
		background #800
		border-color #800

		&:hover
			background #F00
			border-color #F00

	&-army
		height 320px
		margin-bottom 10px
		overflow-y auto

	&-help
		color #999999
		font-style italic

	&-map
		float left
		overflow hidden
		position relative
		size 512px 512px

	&-cells
	&-units
	&-particles
		position absolute
		size 512px 512px
		xy 0 0

	&-units
	&-particles
	&-path
	&-arrows
		pointer-events none

	&-path
		position absolute
		size 512px 512px
		xy 5px 5px
		z-index 1

		&-dot
			border 1px solid black
			border-radius 3px
			position absolute
			size 6px 6px

	&-hover-path
		opacity .5

	&-arrows
		background transparent url(../../images/selection.png) no-repeat 0 0
		opacity .3
		position absolute
		size 100px 100px
		z-index 1

	&-right-panel
		float left
		margin-left 10px
		size 300px 512px

	&-unit
		position absolute
		z-index 1
		line-height 3px

		&-health
			display inline-block
			size 3px 3px
			vertical-align top

			&-point
				border 1px solid black
				size 4px 4px

	&-particle
		position absolute
		z-index 1

	&-cell
		background black none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&.fl-scouted
			background-image url(../../images/land.png)

			&.fl-hill
				background-image url(../../images/hill.png)

			&.fl-rock
				background-image url(../../images/rock.png)

			& > .fl-resource
				display block
				position absolute
				xy 0 0

		& > .fl-base, & > .fl-resource
			display none
			z-index 1

		& > .fl-mining
			opacity .4
			position absolute
			size 16px 16px
			xy 0 0

		& > .fl-border
			position absolute
			size 16px 16px
			xy 0 0

		&.fl-visible
			&[fl-player="0"]
				& > .fl-mining
					background-color #22DD22
				& > .fl-border-0
					border-right 1px solid #44FF44
				& > .fl-border-1
					border-top 1px solid #44FF44
				& > .fl-border-2
					border-left 1px solid #44FF44
				& > .fl-border-3
					border-bottom 1px solid #44FF44

			&[fl-player="1"]
				& > .fl-mining
					background-color #DD2222
				& > .fl-border-0
					border-right 1px solid #FF4444
				& > .fl-border-1
					border-top 1px solid #FF4444
				& > .fl-border-2
					border-left 1px solid #FF4444
				& > .fl-border-3
					border-bottom 1px solid #FF4444

			& > .fl-base
				display block
				position absolute
				xy -2px -2px

		& > .fl-hold
			border 1px dotted white

		& > .fl-order-overlay
		& > .fl-fog
			background black
			opacity .5
			position absolute
			size 16px 16px

		.fl-order-active & > .fl-fog
			display none

		.fl-order-paradrop &
			cursor url(../../images/paradrop-success.png) 9 21, crosshair

		.fl-order-paradrop & > .fl-order-overlay
			cursor url(../../images/paradrop-error.png) 9 21, crosshair
